Repository soroushsab/TwitterSA: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, flake8

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: check-toml
  entry: check-toml
  language: system

check-yaml:
  name: check-yaml
  entry: check-yaml
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

python version
  pyproject.toml
Due: check-toml

update poetry
  poetry.lock
  pyproject.toml
Due: check-toml

update pipeline
  .flake8
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  services/.flake8
Due: check-toml, check-yaml

update
  .github/workflows/ci.yml
Due: check-yaml

update
  TwitterSA.py
Due: black, flake8

update the name
  TwitterSA.py
Due: black, flake8

update readme
  README.md
Due: none

Update README.md
  services/TwitterSA/README.md
Due: none

Update TwitterSA.py
  services/TwitterSA/TwitterSA.py
Due: black, flake8

Refactor the code to accept a new tool
  helpers/CalculatePolarity.py
  helpers/SentimentAnalysisModels/Afinn.py
  helpers/SentimentAnalysisModels/README.md
  helpers/SentimentAnalysisModels/TextBlob.py
  helpers/SentimentAnalysisModels/Vader.py
Due: black, flake8

Refactor the code to do the comparison
  README.md
  TwitterSA.py
  helpers/Comparison.py
  helpers/ReadWrite.py
  helpers/SaveCSV.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  flake8: any of: \.py$
